:root {
	--purp: purple;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}
a {
	text-decoration: none;
}

header {
	text-align: center;
	color: var(--purp);
	width: 30%;
	margin-left: 100px;
	border: 2px solid black;
}
header article h1 {
	font-size: 60px;
	font-weight: bolder;
}
main {
	text-align: center;
	width: 60%;
}

header div nav ul li {
	list-style: none;
	font-size: 40px;
	border: 2px solid black;
	width: 90%;
	padding: 10px;
}

#about,
#work {
	font-size: 30px;
}

.Projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	min-width: 500px;
	min-height: 500px;
}

.numberOne {
	background-image: url("../images/neon-style-coming-soon-glowing-background-design_1017-25516.webp");
	background-position: center;
}

.item div {
	background-color: aqua;
	padding: 10px;
}

footer {
	background-color: black;
	padding: 5px;
	bottom: 0;
}

footer nav div ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 40px;
}
